@tailwind base;
@tailwind components;
@tailwind utilities;

@import '_prime';

@layer base {
    body {
        @apply font-dm-sans text-[14px];
    }
    a,
    button {
        @apply transition-all duration-200 ease-in-out;
    }

    /* style scrollbar */
    .scrollbar::-webkit-scrollbar {
        width: 10px;
    }
    .scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }
    .scrollbar::-webkit-scrollbar-thumb {
        background: #37374d;
        border: 2px solid #1d1d2b;
        @apply rounded-full;
    }
    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #48485f;
    }
    .scrollbar::-webkit-scrollbar-thumb:active {
        background: #48485f;
    }

    // for changing input of autofilled in chrome
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: #ddd;
    }
}
