@tailwind base;
@tailwind components;
@tailwind utilities;

@import '_prime';

@layer base {
    body {
        @apply font-dm-sans text-[14px];
    }
    a,
    button {
        @apply transition-all duration-200 ease-in-out;
    }

    /* style scrollbar */
    .thin-scrollbar::-webkit-scrollbar {
        width: 4px;
    }
    .thin-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }
    .thin-scrollbar::-webkit-scrollbar-thumb {
        background: #eaeaee;
        // border: 2px solid #fff;
        @apply rounded-full;
    }
    .thin-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #d9d9df;
    }
    .thin-scrollbar::-webkit-scrollbar-thumb:active {
        background: #d5d5db;
    }
}
